Package: com.tr1fecta.nomorelabels
Name: NoMoreLabels
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A tweak to remove apps and folder name labels
Maintainer: Tr1Fecta
Author: Tr1Fecta
Section: Tweaks
Version: 1.0
Installed-Size: 104
